<link type="text/css" rel="stylesheet" href="css/navigation.css">
<div class="nav-container">
    <h1 id="main-title">Welcommen</h1>
    <div id="home-nav" class="nav-btn"><a href="/<%= AppName %>/Home">Home</a></div>
    <div id="about-us" class="nav-btn"><a href="/<%= AppName %>/About">About</a></div>
    <div id="random-chat" class="nav-btn"><a href="/<%= AppName %>/chat">Chat with a stranger!</a></div>
    <div id="user-management">
        <div id="user-login" class="nav-btn"><a href="/<%= AppName %>/Login">Login</a></div>
        <div id="home-nav" class="nav-btn"><a href="/<%= AppName %>/Register">Register</a></div>
    </div>
</div>